.centered {
  margin-left: 26%;
  margin-top: 12em;
}

button.right {
  margin-left: 3em;
}

.error {
  color: red;
  padding-bottom: 1em;
}

.login-form {
  width: 390px;
}
.login-field {
  width: 400px;
}

.spinner {
  padding-left: 15em;
  position: absolute;
  top: 28em;
}
