.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.4375em 0 0 0;
}

.mat-form-field-infix {
  padding: 0.2em 0;
  line-height: 1.4;
}

.btn {
  font-size: 14px;
  padding: 0.6rem 0.8rem;
}
