@import 'src/variables';

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: $primary-color;
  color: white;
  font-weight: 600;
  padding: 8px;

  banner {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
  }

}

#menu {
  position: absolute;
  top: 64px;
  left: 0;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
